@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: #111;
    color: #999;
}
form{
    accent-color: green;
}
li input:checked + label{
    text-decoration: line-through;
    color: green;
}
.alert-black{
    background-color: #111;
    color: #999;
}