{% extends 'base/base.html' %}


{% block content %}
<h1>Todo items</h1>

    {% for todo in todo_items %}
    <div class="card p-3">{{ todo.name }}
        <ul class="ps-3">
            {% for item in todo.item_set.all %}
            {% if item.complete %}
            <li style="text-decoration: line-through; color:green;">{{ item.text }}</li>
            {% else %}
            <li>{{ item.text }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

{% endblock %}