{% extends 'base/base.html' %}


{% block content %}
<h1>Todo items</h1>

    <div class="row">
        {% if todo_items %}
        {% for todo in todo_items %}
            <div class="col-md-4">
                <div class="card bg-dark p-3 mb-3">
                    <div class="tittle-sect">
                        <h6>{{ todo.name }}</h6>
                        <a href="#" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                    </div>
                    <hr class="mt-2">
                    {% if todo.item_set.all %}
                    <ul class="ps-3 mb-0">
                        {% for item in todo.item_set.all %}
                        {% if item.complete %}
                        <li style="text-decoration: line-through; color:green;">{{ item.text }}</li>
                        {% else %}
                        <li>{{ item.text }}</li>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="alert alert-black">
                            No items available yet!
                        </div>
                        {% endif %}
                    </ul>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'todo' todo.id %}" class="btn btn-sm badge btn-success">View</a>
                        </div>
                        <div class="col-6 text-end">
                            <a href="#" class="btn btn-sm badge btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-dark">
                    <p>No items available yet!</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create' %}" class="btn btn-primary btn-sm">Create items</a>
                    {% else %}
                    <p><a href="{% url 'login' %}">Login</a> to create items</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}