{% extends 'base/base.html' %}


{% block content %}
<h1>Todo items</h1>

    <div class="row">
        {% for todo in todo_items %}
            <div class="col-md-4">
                <div class="card p-3 mb-3">{{ todo.name }}
                    <ul class="ps-3 mb-0">
                        {% for item in todo.item_set.all %}
                        {% if item.complete %}
                        <li style="text-decoration: line-through; color:green;">{{ item.text }}</li>
                        {% else %}
                        <li>{{ item.text }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <a href="{% url 'todo' todo.id %}" class="btn btn-sm badge btn-dark">View</a>
                        </div>
                        <div class="col-4 text-center">
                            <a href="#" class="btn btn-sm badge btn-primary">Edit</a>
                        </div>
                        <div class="col-4 text-end">
                            <a href="#" class="btn btn-sm badge btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}