{% extends 'base/base.html' %}
{% block title %}{{ todo_item.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-10">
        <h1>{{ todo_item.name }}</h1>
    </div>
    <div class="col-2 text-end">
        <button type="submit" class="btn btn-primary">Add Item</button>
    </div>
</div>
<div class="card p-3 mb-3">
    
    <form action="">
        <ul class="list-unstyled">
            {% for item in todo_item.item_set.all %}
            {% if item.complete %}
            <li>
                <input type="checkbox" checked name="c{{ item.id }}" id="id{{ item.id }}">
                <label for="id{{ item.id }}">{{ item.text }}</label>
            </li>
            {% else %}
            <li>
                <input type="checkbox" name="c{{ item.id }}" id="id{{ item.id }}">
                <label for="id{{ item.id }}">{{ item.text }}</label>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-10">
                <input type="text" name="new" class="form-control">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}